# Base site
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME=放手
NEXT_PUBLIC_SITE_DESCRIPTION=何不放手一搏？

# Author
NEXT_PUBLIC_AUTHOR_NAME=一博
NEXT_PUBLIC_AUTHOR_URL=http://localhost:3000

# RSS
NEXT_PUBLIC_RSS_TITLE=放手
NEXT_PUBLIC_RSS_DESCRIPTION=学会放手，更要放手一博

# GitHub & repo
NEXT_PUBLIC_GITHUB_URL=https://github.com/etng
NEXT_PUBLIC_REPO_OWNER=etng
NEXT_PUBLIC_REPO_NAME=ts_blog
NEXT_PUBLIC_REPO_BRANCH=master

# Assets & OG
NEXT_PUBLIC_ASSET_HOST=blog-assets.shenn.xyz
NEXT_PUBLIC_OG_FONT=Noto+Sans+SC
NEXT_PUBLIC_OG_TITLE=shenn.xyz

# External services
NEXT_PUBLIC_FAVICON_SERVICE=https://t1.gstatic.com/faviconV2

PORT=43001